<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script type="text/javascript" src="jquery-3.5.1.js"></script>
    <script type="text/javascript" src="login.js"></script>
</head>

<body>
    <p id="msg"></p>
    <hr>

    <label>Username: </label>
    <input type="text" id="username" placeholder="Username"><br><br>
    <label>Password: </label>
    <input type="password" id="password" placeholder="Password"><br><br>

    <button id="btnlogin">Login</button><br /><br />
    <button id="btnlogout">Logout</button>



    <br><br><br><br>
    <label>Search Product</label>
    <input type="text" id="pID" placeholder="Enter Product ID">
    <button id="btnSearch">Search</button>

    <h1>Product List</h1>
    <table border="1" id="productList">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>










</body>

</html>